<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trainingcenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingCenter">
        <activity
            android:name=".View.Instructor.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Instructor.Announcements"
            android:configChanges="orientation|screenSize"
            android:label="Announcements" />
        <activity
            android:name=".View.Instructor.ListOfStudents"
            android:configChanges="orientation|screenSize"
            android:label="Lectures" />
        <activity
            android:name=".View.Instructor.Schedule"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:label="Events" />
        <activity
            android:name=".View.Instructor.Courses"
            android:configChanges="orientation|screenSize"
            android:label="Courses" />
        <activity
            android:name=".View.Instructor.MyProfile"
            android:configChanges="orientation|screenSize"
            android:label="My Profile" />
        <activity
            android:name=".View.Instructor.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Trainee.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.Trainee.Announcements"
            android:configChanges="orientation|screenSize"
            android:label="Announcements" />
        <activity
            android:name=".View.Trainee.Lectures"
            android:configChanges="orientation|screenSize"
            android:label="Lectures" />
        <activity
            android:name=".View.Trainee.Events"
            android:configChanges="orientation|screenSize"
            android:label="Events" />
        <activity
            android:name=".View.Trainee.Courses"
            android:configChanges="orientation|screenSize"
            android:label="Courses" />
        <activity
            android:name=".View.Trainee.MyProfile"
            android:configChanges="orientation|screenSize"
            android:label="My Profile" />
        <activity
            android:name=".View.Trainee.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.SignUp_Instructor_Activity"
            android:exported="false" />
        <activity
            android:name=".View.SignUp_Trainee_Activity"
            android:exported="false" />
        <activity
            android:name=".View.SignUp_Admin_Activity"
            android:exported="false" />
        <activity
            android:name=".View.InitialActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
    </application>

</manifest>